body {
    margin: 0;
}
#title {
    color: white;
    background-color: rgba(45, 32, 32, 0.5);
    padding: 2px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;

}
h1 {
    margin: 0;
}
.hero {
    display: flex;
    background-image: url(./milton-glaser.jpg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-end;

}
.pics {
    width: 350px;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}