body {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
}

#title {
    color: white;
    background-color: rgba(45, 32, 32, 0.5);
    padding: 2px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* display: block;
    align-items: flex-end; */

}

h1 {
    margin: 0;
}

.hero {
    display: flex;
    background-image: url(milton-glaser.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-end;

}

.milton,
.pics {
    width: 350px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding-top: px;
}

.cards:hover {
    /* transition: all .06s ease-out; */
    /* top: -4px; */
    /* border: 1px solid #cccccc; */
    /* transition: width 0.3s ease-in-out, height 0.3s ease-in-out; */
    box-shadow: 1px 1px 5px #afafaf;
}

.picofmilton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    flex-direction: column;
}

h2 {
    font-size: 300%;
    color: #FF004B;
}

#subtitle {
    border: 2px blue;
    width: auto;
    height: 300%;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

a {
    color: blue;
    text-decoration: none;
    padding-top: 40px;
}

a:hover {
    color: rgb(255, 255, 255);
    /* background-color: blue; */
    border-radius: 10px;
    padding: 3px;
    padding-left: 6px;
    width: 175px;
    background-color: #FF004B;
    padding-top: 40px;

}

footer {
    display: flex;
    width: 100%;
    background-color: #02836C;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: #FE8B4E;
}

/* --gallery-- */
@media (min-width: 711px) {
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        gap: 5px;

    }
}